// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-home {
  background: url(restaurant-background.jpg);
  background-size: 1226px;
  height: 100%;
}

.content-center {
  margin-top: 2px;
}

.logo {
  background: url(seatyourself.png);
  height: 100px;
}

.words {
  color: white;
}

#backbutton {
  margin-left: 45%;
  width: 100px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

#backbutton a {
  color: white;
}



.userinfo a {
  
  width: 100%;
}
